@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito/Nunito-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: Nunito, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #5c5c5c;
  background-color: #f5f6f8;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #2c2d2f;
  line-height: 50px;
}

h2 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #2c2d2f;
}

h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 17px;
  height: 6px;
  background: #537eff;
}

h3 {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  color: #2c2d2f;
}

h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16px;
  height: 7px;
  background: #537eff;
}

h3::before a {
  color: #537eff;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: #2c2d2f;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  color: #2c2d2f;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:active {
  opacity: 0.6;
  outline: none;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
  padding: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.justify-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.right-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.center-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

*::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.sidebar {
  position: fixed;
  width: 270px;
  left: 0;
  top: 0;
  padding: 40px 10px 0px 40px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-animation: 0.5s cubic-bezier(0.25, 1.1, 0.5, 1) 0.1s showLeftMenu;
          animation: 0.5s cubic-bezier(0.25, 1.1, 0.5, 1) 0.1s showLeftMenu;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.sidebar-wrap {
  padding-right: 20px;
  height: 100vh;
}

.sidebar-logo {
  display: block;
  margin-bottom: 40px;
  font-family: Roboto;
  font-weight: bold;
}

.sidebar-logo strong {
  display: block;
  font-size: 44px;
  line-height: 46px;
  text-transform: uppercase;
}

.sidebar-logo span {
  font-size: 12px;
}

.sidebar:hover .scroll-element_outer {
  opacity: 1;
}

.search {
  position: relative;
  margin-bottom: 40px;
}

.search-field {
  display: block;
  width: 100%;
  padding: 6px 15px;
  border: 1px solid #fff;
  color: #111;
  background-color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  font-size: 16px;
}

.search-field:hover {
  opacity: 1;
  border-color: #ccc;
}

.search-field:focus {
  opacity: 1;
  border-color: #ccc;
}

.search-btn {
  position: absolute;
  right: 10px;
  top: 9px;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}

.search-btn .fa {
  font-size: 14px;
  color: #c7ccd6;
}

.soc-btn li {
  display: inline-block;
  margin-right: 5px;
}

.soc-btn li:last-child {
  margin-right: 0;
}

.soc-btn .fa {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  border: 1px solid;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.soc-btn .fa-twitter {
  color: #2DAAE1;
}

.soc-btn .fa-pinterest {
  color: #CB2027;
}

.soc-btn .fa-facebook {
  color: #3C5B9B;
}

.soc-btn .fa-vk {
  color: #577CA2;
}

.soc-btn .fa-odnoklassniki {
  color: #F77C00;
}

.soc-btn .fa-instagram {
  color: #CA37A9;
}

.main-menu {
  margin-bottom: 40px;
  list-style: none;
}

.main-menu > li.drop > a:after {
  content: '\f107';
  position: absolute;
  right: 0;
  top: 16px;
  font-family: FontAwesome;
  font-size: 12px;
  color: #8c9092;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.main-menu > li.drop > a:hover {
  opacity: 1;
}

.main-menu > li.drop > a:hover:after {
  color: #537eff;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-menu > li > a {
  position: relative;
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #414344;
  font-weight: 600;
  text-shadow: none;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.main-menu > li > a.active {
  padding-left: 10px;
  color: #E10E3B;
  background: rgba(0, 0, 0, 0.04);
}

.brands-menu {
  display: none;
  position: relative;
  list-style: none;
  margin-top: 20px;
  padding-left: 15px;
  margin-left: 0px;
  margin-bottom: 30px;
}

.brands-menu > li > a {
  position: relative;
  display: block;
  padding: 7px 15px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #272828;
}

.brands-menu > li > a::before {
  content: "\f107";
  position: absolute;
  right: 0;
  top: 11px;
  font-family: FontAwesome;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.brands-menu > li > a:hover {
  opacity: 1;
  color: #000;
  -webkit-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
          transform: translateX(-3px);
}

.brands-menu > li > a:hover::before {
  opacity: 1;
  color: #4c6df7;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.brands-menu > li > a.active {
  color: #E10E3B;
}

.brands-menu > li > a.active::before {
  opacity: 1;
  color: #4c6df7;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.brands-menu > li > ul {
  display: none;
  list-style: none;
  padding: 10px;
}

.brands-menu > li > ul > li > a {
  font-size: 12px;
  line-height: 16px;
  color: #272828;
}

.brands-menu > li > ul > li > a:hover {
  opacity: 1;
  color: #000;
}

.content {
  margin-left: 270px;
}

.content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content-inner {
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
  max-width: 900px;
  margin-right: 30px;
}

.content-aside {
  padding: 50px 30px 50px;
  width: 300px;
  height: 100%;
  -webkit-border-radius: 0px 0px 0px 50px;
          border-radius: 0px 0px 0px 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(151, 160, 204, 0.12);
          box-shadow: 0px 0px 24px 0px rgba(151, 160, 204, 0.12);
  color: #3c5b68;
}

.content-aside .soc-btn {
  margin-bottom: 30px;
}

.banner {
  padding: 20px 0;
}

.aside-brand h5 {
  margin-bottom: 20px;
}

.aside-brand__logo {
  margin-bottom: 20px;
}

.aside-brand__logo img {
  margin-bottom: 0;
}

.aside-brand__info {
  margin-bottom: 20px;
}

.aside-brand__info--list {
  margin-bottom: 20px;
  list-style: none;
}

.aside-brand__info p {
  margin-bottom: 5px;
}

.aside-brand__info--more {
  display: inline-block;
  border-bottom: 1px solid;
}

.aside-brand__link {
  display: inline-block;
  margin: 0 0 30px;
  position: relative;
  color: #E10E3B;
  border-bottom: 1px solid;
}

.aside-item {
  margin-bottom: 30px;
}

.aside-item h5 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 8px;
  font-size: 17px;
  color: #2c2d2f;
}

.aside-item h5::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16px;
  height: 5px;
  background: #537eff;
}

.aside-item__list {
  list-style: none;
}

.aside-item__list li {
  position: relative;
  padding: 3px 0px 3px 15px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 14px;
  color: #3c5b68;
}

.aside-item__list li::before {
  content: '\f10c';
  position: absolute;
  left: 0;
  top: 3px;
  vertical-align: middle;
  font-family: FontAwesome;
  font-size: 6px;
  color: #3c5b68;
}

.aside-item article p {
  margin-bottom: 15px;
}

.aside-item article p:first-child::first-letter {
  font-weight: bold;
  color: #c1163c;
  font-size: 20px;
}

.aside-item__brands {
  list-style: none;
}

.aside-item__brands li {
  margin-bottom: 5px;
  font-size: 13px;
}

.aside-item__brands li a {
  color: #3c5b68;
}

.aside-item__brands li a:hover {
  color: #000;
  opacity: 1;
}

.aside-post__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.aside-post__item:last-child {
  border: none;
}

.aside-post__item--img {
  width: 48px;
}

.aside-post__item--img img {
  display: block;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside-post__item--text {
  width: -webkit-calc(100% - 48px);
  width: calc(100% - 48px);
  padding-left: 10px;
}

.aside-post__item--text a {
  display: inline-block;
  color: #3468ad;
  font-size: 13px;
}

.aside-post__item--text span {
  display: block;
  font-size: 10px;
  color: #899caf;
}

.subscription {
  padding: 5px 10px 15px;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f7f7f7 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #f7f7f7 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%, #f7f7f7 100%);
  text-align: center;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.subscription input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #f7f7f7;
  padding: 5px 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f7f7f7;
  outline: none;
  color: #111;
}

.subscription input:focus {
  border: 1px solid #c4c4c4;
}

.subscription .btn {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  background-color: #1d6fef;
  border-color: #1d6fef;
  letter-spacing: 0.3px;
  font-weight: 700;
}

.product-slider {
  margin-top: 10px;
  position: relative;
  right: 5px;
  margin-bottom: 30px;
}

.product-slider .slick-arrow {
  height: 40px;
  top: 50%;
  border: none;
  width: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  z-index: 10;
}

.product-slider .slick-arrow::before {
  font-family: FontAwesome;
  font-size: 20px;
  color: #fff;
  opacity: 1;
}

.product-slider .slick-arrow:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.product-slider .slick-prev {
  left: 10px;
}

.product-slider .slick-prev::before {
  content: '\f104';
}

.product-slider .slick-next {
  right: 10px;
}

.product-slider .slick-next::before {
  content: '\f105';
}

.product-slider__item {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  outline: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.product-slider__item img {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  max-height: 320px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.product-slider__item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.product-slider__item:hover .product-slider__text {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.product-slider__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.7)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.7));
}

.product-slider__text {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.product-slider__name {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.product-slider__tag {
  display: inline-block;
  margin-right: 5px;
  font-size: 9px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.product-slider__tag:hover {
  color: #fff;
  border-color: #fff;
  opacity: 1;
}

.pins [class^='col'] {
  padding-left: 0;
  padding-right: 0;
  max-width: 250px;
}

.pins-filter {
  margin-bottom: 20px;
}

.pins-filter__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  padding: 4px 10px;
  letter-spacing: 1px;
  font-weight: 700;
  border: 1px solid transparent;
  font-size: 13px;
  outline: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.pins-filter__item:hover {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  color: #fff;
}

.pins-item {
  padding: 15px;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #fff;
}

.pins-item__img {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.pins-item__img > a {
  display: block;
}

.pins-item__img > a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  z-index: 1;
}

.pins-item__img > a:hover, .pins-item__img > a:focus {
  opacity: 1;
}

.pins-item__img > a:hover::before, .pins-item__img > a:focus::before {
  background: rgba(0, 0, 0, 0.2);
}

.pins-item__img > a > .fa {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 45%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.pins-item__img .share {
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  z-index: 10;
}

.pins-item__img img {
  display: block;
  margin: 0 auto;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.pins-item__img:hover .share {
  opacity: 1;
}

.pins-item__img:hover > a > .fa {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.pins-item__img:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.pins-item__text {
  padding: 10px;
}

.pins-item__header {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #2c2d2f;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pins-item__header:hover a {
  opacity: 1;
  text-decoration: underline;
}

.pins-item p {
  margin-bottom: 15px;
}

.pins-item__brand {
  position: relative;
  display: inline-block;
  padding: 4px 0px;
  font-size: 12px;
  line-height: 14px;
  color: #111;
  font-weight: 700;
  background-color: #fff;
}

.pins-item__brand::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background: #111;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.pins-item__brand:hover {
  opacity: 1;
}

.pins-item__brand:hover::before {
  bottom: 2px;
}

.pins-item__bottom {
  padding: 25px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pins-item__date {
  position: relative;
  padding-left: 15px;
  font-size: 12px;
  color: #3c5b68;
}

.pins-item__date::before {
  content: '\f017';
  position: absolute;
  left: 0;
  top: 2px;
  font-family: FontAwesome;
  font-size: 12px;
}

.share {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 6px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.share li {
  display: inline-block;
  margin-right: 5px;
}

.share li.share-soc {
  display: none;
}

.share .fa {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ccc;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 12px;
  color: #fff;
}

.share .fa-twitter {
  background: #2DAAE1;
}

.share .fa-pinterest {
  background: #CB2027;
}

.share .fa-facebook {
  background: #3C5B9B;
}

.share .fa-vk {
  background: #577CA2;
}

.share .fa-odnoklassniki {
  background: #F77C00;
}

.share-text {
  padding: 3px 0;
}

.share-text span {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 10px;
  border-left: 1px solid #555;
  letter-spacing: 1px;
  font-weight: 700;
}

.share-text::before {
  content: '\f067';
  padding-right: 3px;
  vertical-align: middle;
  font-size: 10px;
  color: #fff;
  font-family: FontAwesome;
}

.share:hover .share-text span {
  display: none;
}

.share:hover .share-text::before {
  content: '\f068';
}

.share:hover .share-soc {
  display: inline-block;
}

.tag-list {
  list-style: none;
}

.tag-list li {
  display: inline-block;
  margin-right: 10px;
}

.tag-list li a {
  display: block;
  padding: 2px 5px;
  background-color: #E10E3B;
  font-size: 11px;
  line-height: 14px;
  color: #fff;
  border: 1px solid #E10E3B;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.footer {
  padding: 30px 50px;
}

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links li {
  display: inline-block;
  margin-right: 25px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links li a {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
}

.footer-links li a:hover {
  opacity: 1;
  text-decoration: underline;
  color: #000;
}

.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-bottom p {
  font-size: 12px;
  line-height: 18px;
}

.breadcrumbs {
  margin-bottom: 20px;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 20px;
  font-size: 12px;
  padding: 3px 9px;
  -webkit-box-shadow: 0px 7px 14px 0px rgba(151, 160, 204, 0.12);
          box-shadow: 0px 7px 14px 0px rgba(151, 160, 204, 0.12);
  background-color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-position: top left;
  color: #5c5c5c;
}

.breadcrumbs li a {
  position: relative;
  display: block;
}

.breadcrumbs li a:before {
  content: '\f105';
  font-size: 12px;
  font-family: FontAwesome;
  position: absolute;
  right: -22px;
  top: 2px;
}

.breadcrumbs li:last-child {
  opacity: .7;
}

.article {
  position: relative;
  padding: 50px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #fff;
}

.article::after {
  content: '';
  display: table;
  clear: both;
}

.article-top {
  position: absolute;
  top: 15px;
  left: 15px;
}

.article-share {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.article-share .share-text::before {
  content: '\f1e0';
  padding-right: 15px;
  color: #8297b3;
  font-size: 20px;
}

.article-share .share-text span {
  padding-left: 15px;
  font-size: 10px;
  font-weight: 700;
  color: #8297b3;
}

.article-share:hover .share-text::before {
  content: '\f1e0';
  color: #2863ec;
}

.article-share .fa {
  width: 24px;
  height: 24px;
  font-size: 14px;
}

.article h1 {
  margin: 30px 0 10px;
}

.article-anchors {
  margin-bottom: 30px;
}

.article-anchors__item {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.article-anchors__item span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #E10E3B;
  margin-right: 15px;
  border-bottom: 1px solid;
}

.article-anchors__item span::before {
  content: '\f107';
  position: absolute;
  right: -15px;
  top: 4px;
  font-size: 13px;
  font-family: FontAwesome;
  color: #E10E3B;
}

.article-anchors__item::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
}

.article p {
  margin: 0 0 25px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000;
}

.article p a {
  color: #E10E3B;
}

.article-aside {
  float: left;
  width: 240px;
  margin-right: 30px;
}

.article-aside h5 {
  padding: 10px 0;
  margin-bottom: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
}

.img-blockquote {
  max-width: 670px;
  margin: 0 auto 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d8d8d8;
}

.img-blockquote__text {
  padding: 25px 10px 25px 35px;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
}

.img-blockquote__text p {
  margin-bottom: 0;
  line-height: normal;
}

.img-blockquote__header {
  margin-bottom: 15px;
  font-size: 22px;
  color: #323232;
}

.img-blockquote__img {
  width: 260px;
}

.img-blockquote__img img {
  display: block;
}

.image-float {
  float: left;
  margin-right: 25px;
  text-align: center;
}

.image-float img {
  display: block;
  margin: 0 auto 15px;
}

.image-float__text {
  display: inline-block;
  padding: 5px 8px;
  background: #fff;
  font-style: italic;
  color: #878787;
  text-align: center;
}

.image-block {
  padding: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  background: url(../img/image-block-bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
}

.image-block__wrap {
  text-align: center;
}

.image-block__wrap img {
  display: block;
  margin-bottom: 18px;
}

.image-block__text {
  display: inline-block;
  padding: 5px 8px;
  background: #fff;
  font-weight: 300;
  font-style: italic;
  color: #878787;
  text-align: center;
}

.image-block__two {
  padding-left: 30px;
  padding-right: 30px;
}

.image-block__two .image-block__wrap {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.image-block__double {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-block__double .image-block__two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.image-block__three {
  padding-left: 20px;
  padding-right: 20px;
}

.image-block__three .image-block__wrap {
  width: 33.3333%;
  padding-left: 9px;
  padding-right: 9px;
}

.image-block__triple {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-block__triple .image-block__three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.video-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 20px 20px;
  margin-bottom: 30px;
  background: #464646;
}

.video-block__video {
  width: 60%;
}

.video-block__video--text {
  text-align: center;
}

.video-block__video--text span {
  display: inline-block;
  padding: 5px 8px;
  background: #fff;
  font-style: italic;
  color: #878787;
  text-align: center;
}

.video-block iframe {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.video-block__info {
  width: 40%;
}

.video-block__info p {
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-style: italic;
}

.buy {
  margin: 40px 0 60px;
  padding: 50px;
  background: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.buy-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.buy-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.buy-item__code {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  font-weight: bold;
  color: #c1163c;
  border: 1px solid #f5e0e4;
}

.buy-item__info {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  padding-left: 15px;
}

.buy-item__site {
  position: relative;
  display: inline-block;
  margin-right: 45px;
  font-size: 12px;
  border-bottom: 1px solid;
}

.buy-item__description {
  display: block;
  font-size: 12px;
  color: #cbcbcb;
}

.buy-item__country {
  position: absolute;
  right: -30px;
  top: -3px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  text-transform: uppercase;
  color: #bababa;
  border: 1px solid;
}

.discount {
  margin-bottom: 60px;
  padding: 50px;
  background: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.discount h1 {
  margin-bottom: 30px;
}

.discount-tag {
  margin-bottom: 30px;
}

.discount-tag__item {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #d8d8d8;
}

.discount-tag__item:hover, .discount-tag__item:focus {
  opacity: 1;
  background: #c1163c;
  border-color: #c1163c;
  color: #fff;
}

.discount-item {
  position: relative;
  padding: 0 0 0 35px;
  margin-bottom: 30px;
}

.discount-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background: url(../img/sale-ic.png);
}

.discount-item__link {
  display: inline-block;
  margin-bottom: 4px;
  padding-bottom: 2px;
  font-size: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.discount-item__link:hover {
  opacity: 1;
  color: #000;
  border-color: #000;
}

.discount-item__description {
  display: block;
  color: #7c7c7c;
}

.reviews-collection {
  margin-bottom: 60px;
}

.reviews-collection__item {
  position: relative;
  display: block;
}

.reviews-collection__item img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.reviews-collection__item:hover {
  opacity: 1;
}

.reviews-collection__item:hover .reviews-collection__overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}

.reviews-collection__item:hover .reviews-collection__overlay span {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.reviews-collection__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.reviews-collection__overlay span {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.articles-block {
  margin-bottom: 60px;
}

.articles-block__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.articles-block__item--img a {
  display: block;
}

.articles-block__item--img img {
  display: block;
  width: 96px;
  height: 96px;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-block__item--info {
  padding-left: 15px;
  width: -webkit-calc(100% - 96px);
  width: calc(100% - 96px);
}

.articles-block__item--info h5 {
  margin-bottom: 10px;
}

.articles-block__item--info p {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 17px;
  color: #3c5b68;
}

.scroll-block {
  margin-bottom: 20px;
}

.scroll-block__item {
  padding: 5px 15px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dotted;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.scroll-block__item--watch {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  color: #c1163c;
}

.scroll-block__item--watch::before {
  content: '\f0d7';
  position: absolute;
  right: 0;
  top: 3px;
  width: 13px;
  height: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 9px;
  background: #c1163c;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  font-family: FontAwesome;
}

.filters {
  margin-bottom: 50px;
}

.filters h1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.filters-menu {
  list-style: none;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
}

.filters-menu > li {
  margin-bottom: 30px;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.filters-menu > li > a {
  display: block;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #c1163c;
  color: #fff;
  margin-bottom: 10px;
}

.filters-menu > li > ul {
  list-style: none;
}

.filters-menu > li > ul > li > a {
  color: #2c2d2f;
}

.mobile-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  z-index: 999;
}

.mobile-header .sidebar-logo {
  margin: 0;
  text-align: center;
}

.mobile-header .sidebar-logo strong {
  font-size: 28px;
  line-height: 22px;
}

.mobile-header .sidebar-logo span {
  font-size: 10px;
}

.mobile-header__search {
  font-size: 20px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-header__sidebar {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 20px;
  font-size: 22px;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  color: #000;
}

.mobile-search {
  position: relative;
  display: none;
  width: 85%;
  padding: 0;
}

.mobile-search:before {
  content: '\f002';
  position: absolute;
  left: 15px;
  top: 17px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
  font-family: FontAwesome;
}

.mobile-search input {
  display: block;
  width: 100%;
  padding: 15px;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
}

.mobile-search__btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 16px;
  padding: 4px 15px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.mobile-search .fancybox-button {
  display: none;
}

.burger-menu {
  font-size: 24px;
}

@media only screen and (min-width: 1367px) {
  .pins [class^='col'] {
    max-width: 300px;
    width: 350px;
  }
  .content-inner {
    margin-left: -webkit-calc((100vw - 1500px)/2);
    margin-left: calc((100vw - 1500px)/2);
    margin-right: -webkit-calc((100vw - 1500px)/2);
    margin-right: calc((100vw - 1500px)/2);
  }
}

@media only screen and (max-width: 1199px) {
  .content {
    margin: 0;
    padding: 60px 15px 0;
  }
  .mobile-header {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .breadcrumbs li {
    margin-bottom: 5px;
  }
  .content-inner {
    width: 100%;
    margin: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .content-inner.active {
    position: relative;
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  .content-inner.active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
  }
  .article {
    padding: 30px;
  }
  .article h1 {
    margin: 10px 0 20px;
  }
  .content-aside {
    position: fixed;
    right: 0;
    top: 60px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
            transform: translateX(300px);
    z-index: 10;
    overflow: scroll;
  }
  .content-aside.active {
    width: 300px;
    display: block !important;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .reviews-collection__item {
    margin-bottom: 30px;
  }
  .article-top {
    left: 30px;
  }
  .discount {
    padding: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .pins [class^='col'] {
    width: 48%;
    max-width: none;
  }
  .footer-top {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
  .footer-bottom {
    text-align: center;
  }
  h1 {
    font-size: 25px;
    line-height: 28px;
  }
  h2 {
    font-size: 22px;
  }
  .image-block {
    padding: 5px;
    margin-bottom: 30px;
  }
  .image-block__wrap img {
    margin-bottom: 5px;
  }
  .image-block__two {
    display: block;
  }
  .image-block__two .image-block__wrap {
    width: 100%;
    margin-bottom: 30px;
  }
  .image-block__two .image-block__wrap:last-child {
    margin-bottom: 0;
  }
  .image-block.image-block__double {
    display: block;
  }
  .image-block.image-block__double .image-block__two {
    display: block;
    padding: 20px;
    text-align: center;
  }
  .image-block__text {
    display: block;
    text-align: center;
  }
  .image-block.image-block__three {
    display: block;
  }
  .image-block.image-block__three .image-block__wrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .image-block.image-block__three .image-block__wrap:last-child {
    margin-bottom: 0;
  }
  .image-block.image-block__triple .image-block__three {
    display: block;
  }
  .image-block.image-block__triple .image-block__three .image-block__wrap {
    width: 100%;
  }
  .image-block.image-block__triple .image-block__three .image-block__wrap img {
    margin-bottom: 20px;
  }
  .video-block {
    display: block;
  }
  .video-block__video {
    width: 100%;
    margin-bottom: 20px;
  }
  .video-block__info {
    width: 100%;
  }
  .video-block__info p:last-child {
    margin-bottom: 0;
  }
  .article-aside {
    float: none;
  }
  .img-blockquote {
    display: block;
    padding: 25px 10px 25px 15px;
  }
  .img-blockquote__text {
    width: 100%;
    padding: 0;
  }
  .img-blockquote__img {
    padding-top: 20px;
    width: auto;
  }
  .image-float {
    float: none;
    margin-bottom: 30px;
  }
  .articles-block__item {
    margin-bottom: 30px;
  }
  .articles-block {
    margin-bottom: 30px;
  }
  .filters-menu {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}

@media only screen and (max-width: 550px) {
  .pins [class^='col'] {
    width: 47%;
  }
}

@media only screen and (max-width: 479px) {
  .pins [class^='col'] {
    width: 100%;
  }
  .pins-item__img img {
    width: 100%;
  }
  .mobile-header .sidebar-logo strong {
    font-size: 20px;
  }
  .filters-menu {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
