// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: Nunito, sans-serif
  font-weight: normal
  font-size: 14px
  color: #5c5c5c
  background-color: #f5f6f8


h1
  font-size: 40px
  font-weight: 700
  color: #2c2d2f
  line-height: 50px

h2
  position: relative
  padding-bottom: 15px
  margin-bottom: 30px
  font-size: 30px
  font-weight: 700
  color: #2c2d2f

  &::before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 17px
    height: 6px
    background: #537eff

h3
  position: relative
  margin-bottom: 30px
  padding-bottom: 15px
  font-size: 24px
  font-weight: 700
  color: #2c2d2f

  &::before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 16px
    height: 7px
    background: #537eff

    a
      color: #537eff

h4
  font-size: 18px
  font-weight: 700
  color: #2c2d2f


h5
  font-size: 15px
  font-weight: 700
  color: #2c2d2f

a
  color: #000
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box

.justify-align
  display: flex
  justify-content: space-between
  align-items: center

.left-align
  display: flex


.right-align
  display: flex
  justify-content: flex-end

.center-align
  display: flex
  justify-content: center
  align-items: center


.flex
  display: flex
  flex-wrap: wrap


*::-webkit-input-placeholder 
  color: rgba(0, 0, 0, 0.4)
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease

*:-moz-placeholder 
  color: rgba(0, 0, 0, 0.4)
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*::-moz-placeholder 
  color: rgba(0, 0, 0, 0.4)
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*:-ms-input-placeholder 
  color: rgba(0, 0, 0, 0.4)
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease