@font-face
  font-family: 'Nunito'
  src: url('../fonts/Nunito/Nunito-Regular.woff2') format("woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Nunito'
  src: url('../fonts/Nunito/Nunito-Bold.woff2') format("woff2")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Nunito'
  src: url('../fonts/Nunito/Nunito-SemiBold.woff2') format("woff2")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Bold.woff2') format("woff2")
  font-weight: bold
  font-style: normal