@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------





.sidebar
	position: fixed
	width: 270px
	left: 0
	top: 0
	padding: 40px 10px 0px 40px
	transition: all 0.2s ease
	animation: 0.5s cubic-bezier(.25,1.1,.5,1) 0.1s showLeftMenu
	animation-fill-mode: both

	&-wrap
		padding-right: 20px
		height: 100vh
	


	&-logo
		display: block
		margin-bottom: 40px
		font-family: Roboto
		font-weight: bold

		strong
			display: block
			font-size: 44px
			line-height: 46px
			text-transform: uppercase

		span
			font-size: 12px


	&:hover
		.scroll-element_outer
			opacity: 1


.search
	position: relative
	margin-bottom: 40px

	&-field
		display: block
		width: 100%
		padding: 6px 15px
		border: 1px solid #fff
		color: #111
		background-color: #fff
		border-radius: 8px
		outline: none
		font-size: 16px

		&:hover
			opacity: 1
			border-color: #ccc

		&:focus
			opacity: 1
			border-color: #ccc

	&-btn
		position: absolute
		right: 10px
		top: 9px
		border: none
		outline: none
		background-color: transparent
		z-index: 1
		cursor: pointer

		.fa
			font-size: 14px
			color: #c7ccd6

.soc-btn

	li
		display: inline-block
		margin-right: 5px

		&:last-child
			margin-right: 0

	.fa
		width: 26px
		height: 26px
		display: flex
		align-items: center
		justify-content: center
		font-size: 16px
		border: 1px solid
		border-radius: 50%

		&-twitter
			color: #2DAAE1

		&-pinterest
			color: #CB2027

		&-facebook
			color: #3C5B9B

		&-vk
			color: #577CA2

		&-odnoklassniki
			color: #F77C00

		&-instagram
			color: #CA37A9

.main-menu
	margin-bottom: 40px
	list-style: none

	>li

		&.drop
			>a
				&:after
					content: '\f107'
					position: absolute
					right: 0
					top: 16px
					font-family: FontAwesome
					font-size: 12px
					color: #8c9092
					transition: all .3s

				&:hover
					opacity: 1
					&:after
						color: #537eff
						transform: rotate(180deg)


		>a
			position: relative
			display: block
			padding: 10px 0
			font-size: 18px
			color: #414344
			font-weight: 600
			text-shadow: none
			text-decoration: none
			border-bottom: 1px solid rgba(0,0,0,0.04)

			&.active
				padding-left: 10px
				color: #E10E3B
				background: rgba(0, 0, 0, 0.04)



.brands-menu
	display: none
	position: relative
	list-style: none
	margin-top: 20px
	padding-left: 15px
	margin-left: 0px
	margin-bottom: 30px


	>li
		>a
			position: relative
			display: block
			padding: 7px 15px
			font-weight: bold
			border-bottom: 1px solid rgba(0,0,0,0.04)
			transition: all 0.2s ease
			color: #272828

			&::before
				content: "\f107"
				position: absolute
				right: 0
				top: 11px
				font-family: FontAwesome
				font-size: 12px
				color: rgba(0,0,0,0.1)
				transform: translateY(-10px)
				transition: all 0.5s ease
				opacity: 0

			&:hover
				opacity: 1
				color: #000
				transform: translateX(-3px)

				&::before
					opacity: 1
					color: #4c6df7
					transform: translateY(0)

			&.active
				color: #E10E3B

				&::before
					opacity: 1
					color: #4c6df7
					transform: rotate(180deg)

		>ul
			display: none
			list-style: none
			padding: 10px

			>li
				>a
					font-size: 12px
					line-height: 16px
					color: #272828

					&:hover
						opacity: 1
						color: #000














.content
	margin-left: 270px

	&-wrap
		display: flex

	&-inner
		width: calc(100% - 300px)
		max-width: 900px
		margin-right: 30px
		

	&-aside
		padding: 50px 30px 50px
		width: 300px
		height: 100%
		border-radius: 0px 0px 0px 50px
		background-color: #fff
		box-shadow: 0px 0px 24px 0px rgba(151,160,204,0.12)
		color: #3c5b68

		.soc-btn
			margin-bottom: 30px

.banner
	padding: 20px 0




.aside

	&-brand
		
		h5
			margin-bottom: 20px

		&__logo
			margin-bottom: 20px

			img
				margin-bottom: 0

		&__info
			margin-bottom: 20px

			&--list
				margin-bottom: 20px
				list-style: none

			p
				margin-bottom: 5px

			&--more
				display: inline-block
				border-bottom: 1px solid

		&__link
			display: inline-block
			margin: 0 0 30px
			position: relative
			color: #E10E3B
			border-bottom: 1px solid

	

	&-item
		margin-bottom: 30px

		h5
			position: relative
			margin-bottom: 20px
			padding-bottom: 8px
			font-size: 17px
			color: #2c2d2f

			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				width: 16px
				height: 5px
				background: #537eff

		&__list
			list-style: none

			li
				position: relative
				padding: 3px 0px 3px 15px
				margin-bottom: 8px
				font-size: 13px
				line-height: 14px
				color: #3c5b68

				&::before
					content: '\f10c'
					position: absolute
					left: 0
					top: 3px
					vertical-align: middle
					font-family: FontAwesome
					font-size: 6px
					color: #3c5b68

		article

			p
				margin-bottom: 15px

				&:first-child
					&::first-letter
						font-weight: bold
						color: #c1163c
						font-size: 20px

		&__brands
			list-style: none

			li
				margin-bottom: 5px
				font-size: 13px

				a
					color: #3c5b68

					&:hover
						color: #000
						opacity: 1

	&-post

		&__item
			display: flex
			margin-bottom: 10px
			padding-bottom: 10px
			border-bottom: 1px solid #e6e6e6

			&:last-child
				border: none

			&--img
				width: 48px

				img
					display: block
					width: 48px
					height: 48px
					border-radius: 6px
					object-fit: cover
				

			&--text
				width: calc(100% - 48px)
				padding-left: 10px
				a
					display: inline-block
					color: #3468ad
					font-size: 13px

				span
					display: block
					font-size: 10px
					color: #899caf

.subscription
	padding: 5px 10px 15px
	background-color: #f7f7f7
	background-image: linear-gradient(to bottom,#f7f7f7 0%,#f7f7f7 100%)
	text-align: center
	border-radius: 6px

	input
		display: block
		width: 100%
		margin-bottom: 10px
		border-radius: 4px
		border: 1px solid #f7f7f7
		padding: 5px 8px
		box-shadow: none
		background-color: #f7f7f7
		outline: none
		color: #111

		&:focus
			border: 1px solid #c4c4c4

	.btn
		width: 100%

.btn
	display: inline-block
	padding: 6px 12px
	text-align: center
	vertical-align: middle
	cursor: pointer
	border: 1px solid transparent
	white-space: nowrap
	font-size: 14px
	line-height: 1.428571429
	border-radius: 6px
	user-select: none
	color: #fff
	background-color: #1d6fef
	border-color: #1d6fef
	letter-spacing: 0.3px
	font-weight: 700


.product
	&-slider
		margin-top: 10px
		position: relative
		right: 5px
		margin-bottom: 30px

		.slick-arrow
			height: 40px
			top: 50%
			border: none
			width: 40px
			cursor: pointer
			background-color: rgba(0,0,0,0.5)
			transition: all 0.3s ease
			border-radius: 6px
			z-index: 10

			&::before
				font-family: FontAwesome
				font-size: 20px
				color: #fff
				opacity: 1

			&:hover
				opacity: 1
				background-color: rgba(0,0,0,0.7)



		.slick-prev
			left: 10px

			&::before
				content: '\f104'


		.slick-next
			right: 10px

			&::before
				content: '\f105'

		&__item
			position: relative
			margin-left: 5px
			margin-right: 5px
			overflow: hidden
			outline: none
			border-radius: 8px


			img
				transition: all .5s
				max-height: 320px
				width: 100%
				object-fit: cover
				border-radius: 8px

			&:hover
				img
					transform: scale(1.1)

				.product-slider__text
					transform: translateY(-10px)
	
		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			flex-direction: column
			justify-content: flex-end
			padding: 20px
			background-image: linear-gradient(transparent,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.7))

		&__text
			transition: all .5s

		&__name
			display: block
			color: #fff
			font-size: 18px
			font-weight: 700
			margin-bottom: 0px
			transition: all 0.4s ease
			text-shadow: 1px 1px 3px rgba(0,0,0,0.3)
			text-decoration: none

		&__tag
			display: inline-block
			margin-right: 5px
			font-size: 9px
			text-transform: uppercase
			color: rgba(255,255,255,0.6)
			text-transform: uppercase
			letter-spacing: 1px
			font-weight: 700
			border-bottom: 1px solid transparent
			text-decoration: none
			border-bottom: 1px solid transparent

			&:hover
				color: #fff
				border-color: #fff
				opacity: 1


.pins

	[class^='col']
		padding-left: 0
		padding-right: 0
		max-width: 250px

	&-filter
		margin-bottom: 20px

		&__item
			display: inline-block
			vertical-align: middle
			margin-right: 10px
			padding: 4px 10px
			letter-spacing: 1px
			font-weight: 700
			border: 1px solid transparent
			font-size: 13px
			outline: none
			border-radius: 6px
			border: 1px solid rgba(0,0,0,0.2)
			background-color: #fff

			&:hover
				background: rgba(0,0,0,0.3)
				opacity: 1
				color: #fff

	&-item
		padding: 15px
		margin-bottom: 20px
		border-radius: 10px
		background: #fff

		&__img
			position: relative
			overflow: hidden
			border-radius: 8px

			>a
				display: block

				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					top: 0
					bottom: 0
					transition: all .7s
					z-index: 1

				&:hover, &:focus
					opacity: 1
					&::before
						
						background: rgba(0,0,0,.2)

				>.fa
					position: absolute
					left: 0
					right: 0
					margin: 0 auto
					top: 45%
					font-size: 50px
					color: #fff
					text-align: center
					z-index: 10
					opacity: 0
					transition: all .3s
					transform: translateY(10px)


			.share
				position: absolute
				left: 10px
				top: 10px
				opacity: 0
				transition: all .7s
				z-index: 10

			img
				display: block
				margin: 0 auto
				transition: all .3s



			&:hover
				.share
					opacity: 1

				>a

					>.fa
						opacity: 1
						transform: translateY(0)

				img
					
					transform: scale(1.1)

		&__text
			padding: 10px

		&__header
			margin-bottom: 10px
			font-size: 18px
			font-weight: 700
			color: #2c2d2f
			transition: all 0.2s ease

			&:hover
				a
					opacity: 1
					text-decoration: underline

		p
			margin-bottom: 15px

		&__brand
			position: relative
			display: inline-block
			padding: 4px 0px
			font-size: 12px
			line-height: 14px
			color: #111
			font-weight: 700
			background-color: #fff

			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				right: 0
				height: 2px
				width: 100%
				background: #111
				transition: all .1s

			&:hover
				opacity: 1
				&::before
					bottom: 2px

		&__bottom
			padding: 25px 0 0
			display: flex
			justify-content: space-between
			align-items: center

   
		&__date
			position: relative
			padding-left: 15px
			font-size: 12px
			color: #3c5b68

			&::before
				content: '\f017'
				position: absolute
				left: 0
				top: 2px
				font-family: FontAwesome
				font-size: 12px

			


.share
	list-style: none
	background-color: rgba(0,0,0,0.8)
	padding: 0px 6px
	border-radius: 6px
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5)

	li
		display: inline-block
		margin-right: 5px

		&.share-soc
			display: none

	.fa
		width: 18px
		height: 18px
		display: flex
		align-items: center
		justify-content: center
		background: #ccc
		border-radius: 50%
		font-size: 12px
		color: #fff

		&-twitter
			background: #2DAAE1

		&-pinterest
			background: #CB2027

		&-facebook
			background: #3C5B9B

		&-vk
			background: #577CA2

		&-odnoklassniki
			background: #F77C00

	&-text
		padding: 3px 0
		span
			display: inline-block
			vertical-align: middle
			font-size: 10px
			text-transform: uppercase
			color: #fff
			padding-left: 10px
			border-left: 1px solid #555
			letter-spacing: 1px
			font-weight: 700

		&::before
			content: '\f067'
			padding-right: 3px
			vertical-align: middle
			font-size: 10px
			color: #fff
			font-family: FontAwesome

	&:hover
		.share-text
			span
				display: none

			&::before
				content: '\f068'

		.share-soc
			display: inline-block



			
.tag-list
	list-style: none

	li
		display: inline-block
		margin-right: 10px

		a
			display: block
			padding: 2px 5px
			background-color: #E10E3B
			font-size: 11px
			line-height: 14px
			color: #fff
			border: 1px solid #E10E3B
			border-radius: 4px





.footer
	padding: 30px 50px

	&-top
		display: flex
		align-items: center
		justify-content: space-between

	&-links
		margin-bottom: 10px

		li
			display: inline-block
			margin-right: 25px

			&:last-child
				margin-right: 0

			a
				font-weight: 700
				color: rgba(0,0,0,0.9)
				font-size: 20px

				&:hover
					opacity: 1
					text-decoration: underline
					color: #000

	&-bottom
		padding-top: 20px
		border-top: 1px solid rgba(0,0,0,0.1)

		p
			font-size: 12px
			line-height: 18px




.breadcrumbs
	margin-bottom: 20px
	list-style: none

	li
		display: inline-block
		margin-right: 20px
		font-size: 12px
		padding: 3px 9px
		box-shadow: 0px 7px 14px 0px rgba(151,160,204,0.12)
		background-color: #fff
		border-radius: 8px
		background-position: top left
		color: #5c5c5c

		a
			position: relative
			display: block
			

			&:before
				content: '\f105'
				font-size: 12px
				font-family: FontAwesome
				position: absolute
				right: -22px
				top: 2px

		&:last-child
			opacity: .7


.article
	position: relative
	padding: 50px
	border-radius: 8px
	background: #fff

	&::after
		content: ''
		display: table
		clear: both

	&-top
		position: absolute
		top: 15px
		left: 15px

	&-share
		
		background: transparent
		box-shadow: none
		.share-text


			&::before
				content: '\f1e0'
				padding-right: 15px
				color: #8297b3
				font-size: 20px
			span
				padding-left: 15px
				font-size: 10px
				font-weight: 700
				color: #8297b3

		&:hover
			.share-text
				&::before
					content: '\f1e0'
					color: #2863ec

		.fa
			width: 24px
			height: 24px
			font-size: 14px

	h1
		margin: 30px 0 10px


	&-anchors
		margin-bottom: 30px

		&__item
			position: relative
			display: inline-block
			margin-right: 15px
			

			span
				position: relative
				display: inline-block
				vertical-align: middle
				color: #E10E3B
				margin-right: 15px
				border-bottom: 1px solid

				&::before
					content: '\f107'
					position: absolute
					right: -15px
					top: 4px
					font-size: 13px
					font-family: FontAwesome
					color: #E10E3B

			&::after
				content: ''
				position: absolute
				right: 0
				top: 0
				bottom: 0
				width: 1px
				height: 100%

	p
		margin: 0 0 25px 0
		font-size: 16px
		font-weight: 300
		line-height: 24px
		color: #000

		a
			color: #E10E3B

	&-aside
		float: left
		width: 240px
		margin-right: 30px

		h5
			padding: 10px 0
			margin-bottom: 20px
			border-top: 1px solid
			border-bottom: 1px solid
			text-align: center

.img-blockquote
	max-width: 670px
	margin: 0 auto 40px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	border: 1px solid #d8d8d8

	&__text
		padding: 25px 10px 25px 35px
		width: calc(100% - 260px)

		p
			margin-bottom: 0
			line-height: normal

	&__header
		margin-bottom: 15px
		font-size: 22px
		color: #323232

	&__img
		width: 260px

		img
			display: block


.image-float
	float: left
	margin-right: 25px
	text-align: center

	img
		display: block
		margin: 0 auto 15px

	&__text
		display: inline-block
		padding: 5px 8px
		background: #fff
		font-style: italic
		color: #878787
		text-align: center

























.image-block
	padding: 25px
	display: flex
	justify-content: center
	margin-bottom: 40px
	background: url(../img/image-block-bg.jpg)
	background-size: cover


.image-block__wrap
	text-align: center

	img
		display: block
		margin-bottom: 18px

.image-block__text
	display: inline-block
	padding: 5px 8px
	background: #fff
	font-weight: 300
	font-style: italic
	color: #878787
	text-align: center

.image-block__two
	padding-left: 30px
	padding-right: 30px

	.image-block__wrap
		width: 50%
		padding-left: 20px
		padding-right: 20px

.image-block__double
	display: flex
	flex-direction: column

	.image-block__two
		display: flex
		padding-left: 20px
		padding-right: 20px

.image-block__three
	padding-left: 20px
	padding-right: 20px

	.image-block__wrap
		width: 33.3333%
		padding-left: 9px
		padding-right: 9px

.image-block__triple
	display: flex
	flex-direction: column

	.image-block__three
		display: flex
		padding-left: 10px
		padding-right: 10px



.video-block
	display: flex
	flex-wrap: wrap
	padding: 20px 20px
	margin-bottom: 30px
	background: #464646

	&__video
		width: 60%

		&--text
			text-align: center

			span
				display: inline-block
				padding: 5px 8px
				background: #fff
				font-style: italic
				color: #878787
				text-align: center

	iframe
		width: 100%
		height: 200px
		margin-bottom: 15px

	



	&__info
		width: 40%

		p
			margin-bottom: 20px
			padding-left: 20px
			font-size: 14px
			line-height: 20px
			color: #fff
			font-style: italic










.buy
	margin: 40px 0 60px
	padding: 50px
	background: #fff
	border-radius: 8px

	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		display: flex
		align-items: center
		margin-bottom: 20px

		&__code
			display: flex
			align-items: center
			justify-content: center
			width: 40px
			height: 40px
			font-weight: bold
			color: #c1163c
			border: 1px solid #f5e0e4

		&__info
			width: calc(100% - 40px)
			padding-left: 15px

		&__site
			position: relative
			display: inline-block
			margin-right: 45px
			font-size: 12px
			border-bottom: 1px solid

		&__description
			display: block
			font-size: 12px
			color: #cbcbcb

		&__country
			position: absolute
			right: -30px
			top: -3px
			width: 20px
			height: 20px
			display: flex
			align-items: center
			justify-content: center
			font-size: 10px
			text-transform: uppercase
			color: #bababa
			border: 1px solid


.discount
	margin-bottom: 60px
	padding: 50px
	background: #fff
	border-radius: 8px

	h1
		margin-bottom: 30px

	&-tag
		margin-bottom: 30px

		&__item
			display: inline-block
			padding: 5px 10px
			margin-right: 5px
			margin-bottom: 5px
			border-radius: 3px
			border: 1px solid #d8d8d8

			&:hover, &:focus
				opacity: 1
				background: #c1163c
				border-color: #c1163c
				color: #fff

			

	&-item
		position: relative
		padding: 0 0 0 35px
		margin-bottom: 30px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 4px
			width: 20px
			height: 20px
			background: url(../img/sale-ic.png)

		&__link
			display: inline-block
			margin-bottom: 4px
			padding-bottom: 2px
			font-size: 16px
			border-bottom: 1px solid #e0e0e0

			&:hover
				opacity: 1
				color: #000
				border-color: #000

		&__description
			display: block
			color: #7c7c7c



.reviews


	&-collection
		margin-bottom: 60px

		&__item
			position: relative
			display: block



			img
				height: 150px
				width: 100%
				object-fit: cover
				display: block
				border-radius: 10px

			&:hover
				opacity: 1
				.reviews-collection__overlay
					opacity: 1
					background: rgba(0,0,0,.6)



					span
						transform: translateY(-10px)

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
			padding: 15px
			text-align: center
			background: rgba(0,0,0,.4)
			border-radius: 10px
			transition: all .3s

			span
				font-size: 16px
				color: #fff
				font-weight: 700
				text-shadow: 1px 1px 2px rgba(0,0,0,0.6)
				transition: all .3s


.articles-block
	margin-bottom: 60px

	&__item
		display: flex

		&--img
			a
				display: block
			img
				display: block
				width: 96px
				height: 96px
				object-fit: cover

		&--info
			padding-left: 15px
			width: calc(100% - 96px)

			h5
				margin-bottom: 10px


			p
				margin-bottom: 0
				font-size: 13px
				line-height: 17px
				color: #3c5b68



.scroll-block
	margin-bottom: 20px
	&__item
		padding: 5px 15px
		margin-bottom: 10px
		display: flex
		justify-content: space-between
		align-items: center
		border: 1px dotted
		border-radius: 4px

		&--watch
			position: relative
			display: inline-block
			padding-right: 20px
			color: #c1163c

			&::before
				content: '\f0d7'
				position: absolute
				right: 0
				top: 3px
				width: 13px
				height: 13px
				display: flex
				align-items: center
				justify-content: center
				font-size: 9px
				background: #c1163c
				border-radius: 50%
				color: #fff
				font-family: FontAwesome


.filters
	margin-bottom: 50px

	h1
		margin-top: 0
		margin-bottom: 30px

	&-menu
		list-style: none
		column-count: 4

		>li
			margin-bottom: 30px
			page-break-inside: avoid
			break-inside: avoid

			>a
				display: block
				width: 20px
				height: 20px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 2px
				background: #c1163c
				color: #fff
				margin-bottom: 10px

			>ul
				list-style: none

				>li
					>a
						color: #2c2d2f






















.mobile
	&-header
		position: fixed
		left: 0
		right: 0
		top: 0
		padding: 10px 15px
		align-items: center
		justify-content: space-between
		background: #fff
		z-index: 999

		.sidebar-logo
			margin: 0
			text-align: center

			strong
				font-size: 28px
				line-height: 22px

			span
				font-size: 10px

		&__search
			font-size: 20px
			outline: none
			background-color: transparent
			border: none
			padding: 0

		&__right
			display: flex
			align-items: center

		&__sidebar
			display: inline-flex
			margin-left: 20px
			font-size: 22px
			border: none
			outline: none
			padding: 0
			background-color: transparent
			color: #000

	&-search
		position: relative
		display: none
		width: 85%
		padding: 0

		&:before
			content: '\f002'
			position: absolute
			left: 15px
			top: 17px
			font-size: 18px
			color: rgba(0,0,0,.2)
			font-family: FontAwesome

		input
			display: block
			width: 100%
			padding: 15px
			padding-left: 40px
			font-size: 16px
			font-weight: 600
			border: none
			background-color: transparent
			outline: none
			position: relative

		&__btn
			position: absolute
			right: 15px
			top: 10px
			font-size: 16px
			padding: 4px 15px
			border-radius: 4px

		.fancybox-button
			display: none


			


.burger-menu
	font-size: 24px












@media only screen and (min-width: 1367px)
	.pins [class^='col']
		max-width: 300px
		width: 350px

	.content-inner
		margin-left: calc((100vw - 1500px)/2)
		margin-right: calc((100vw - 1500px)/2)





@media only screen and (max-width: 1199px)
	.content
		margin: 0
		padding: 60px 15px 0

	.mobile-header
		display: flex !important
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)

	.breadcrumbs li
		margin-bottom: 5px

	.content-inner
		width: 100%
		margin: 0
		transition: all .3s

		&.active
			position: relative
			transform: translateX(-300px)

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				background: rgba(0,0,0,.4)
				z-index: 999

	.article
		padding: 30px

		h1
			margin: 10px 0 20px

	.content-aside
		position: fixed
		right: 0
		top: 60px
		transition: all .3s
		transform: translateX(300px)
		z-index: 10
		overflow: scroll

		&.active
			width: 300px
			display: block !important
			transform: translateX(0)

	.reviews-collection__item
		margin-bottom: 30px

	.article-top
		left: 30px

	.discount
		padding: 30px


















@media only screen and (max-width: 768px)
	.pins [class^='col']
		width: 48%
		max-width: none

	.footer

		&-top
			display: block
			text-align: center
			padding-bottom: 10px

		&-bottom
			text-align: center

	


	h1
		font-size: 25px
		line-height: 28px

	h2
		font-size: 22px

	.image-block
		padding: 5px
		margin-bottom: 30px

	.image-block__wrap img
		margin-bottom: 5px


	.image-block__two
		display: block

		.image-block__wrap
			width: 100%
			margin-bottom: 30px

			&:last-child
				margin-bottom: 0

	.image-block.image-block__double
		display: block

		.image-block__two
			display: block
			padding: 20px
			text-align: center

	.image-block__text
		display: block
		text-align: center

	.image-block.image-block__three
		display: block
		
		.image-block__wrap
			width: 100%
			margin-bottom: 20px

			&:last-child
				margin-bottom: 0

	.image-block.image-block__triple

		.image-block__three
			display: block

			.image-block__wrap
				width: 100%

				img
					margin-bottom: 20px

	.video-block
		display: block

		&__video
			width: 100%
			margin-bottom: 20px

		&__info
			width: 100%

			p:last-child
				margin-bottom: 0

	.article-aside
		float: none

	.img-blockquote
		display: block
		padding: 25px 10px 25px 15px

		&__text
			width: 100%
			padding: 0

		&__img
			padding-top: 20px
			width: auto

	.image-float
		float: none
		margin-bottom: 30px

	

	.articles-block__item
		margin-bottom: 30px

	.articles-block
		margin-bottom: 30px


	.filters-menu
		column-count: 3







@media only screen and (max-width: 550px)
	.pins [class^='col']
		width: 47%






@media only screen and (max-width: 479px)
	.pins [class^='col']
		width: 100%

	.pins-item__img img
		width: 100%

	.mobile-header .sidebar-logo strong
		font-size: 20px


	.filters-menu
		column-count: 2